@import "tailwindcss";

/* Figma 디자인 토큰 (Color / PC Body) */
@theme {
  --font-sans: var(--font-pretendard), system-ui, sans-serif;

  --color-primary: #7f77dd;
  --color-secondary: #fa622f;

  --color-gray-*: initial;
  --color-gray-50: #e9eaec;
  --color-gray-100: #ced0d4;
  --color-gray-200: #b2b6bd;
  --color-gray-300: #979ca5;
  --color-gray-500: #636873;
  --color-gray-800: #1c1e21;

  /* PC/Body/Large */
  --text-body-lg: 18px;
  --text-body-lg--line-height: 1.6;
  --text-body-lg--font-weight: 600;
  /* PC/Body/Default */
  --text-body: 16px;
  --text-body--line-height: 1.6;
  --text-body--font-weight: 600;
  /* PC/Body/Small/Regular */
  --text-body-sm: 14px;
  --text-body-sm--line-height: 1.5;
  --text-body-sm--font-weight: 500;
  /* PC/Body/Small/semibold */
  --text-body-sm-semibold: 14px;
  --text-body-sm-semibold--line-height: 1.5;
  --text-body-sm-semibold--font-weight: 600;

  --container-content: 1280px;
}

body {
  background: #ffffff;
  color: #000000;
}
